.container {
  padding-top: 40px;
}

#startBtnStyle {
    background: #8a2525;
    font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
}

h1 {
  margin-bottom: 40px;
}

#scoreStyle {
font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  background: none;
  border: none;
  display: table;
  margin: 0 auto;
}

#header {
    background: #8a2525;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}

.quizEnd {
    background: #8a2525;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 22px;
}

.scoreTable {
    background: #8a2525;
}

#inputStyle {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-right: rgba(0, 0, 0, 0.1);
    border-bottom: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 4px;
}

input:focus {outline:0;}

button:focus {outline:0;}

#timeHolder {
  text-align: center;
  font-size: 24px;
}

.choices {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

#question {
    background: #8a2525;
    padding: 30px 5px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
}

#finalScore{
    font-size: 26px;
}